body {
  background: #efefef;
}

.addPost {
  float: left;
  margin-top: .5em;
}
.signUp {
  margin-top: 1em;
}

.logIn {
  margin-top: 1em;
}

.subreddit {
  text-align: center;
}

img {
  height: 11em;
  width:auto;
  /*margin-left: -1rem;*/
}

.title {
  font-weight: bold;
  float: left;
}

.author {
  font-weight: bold;
  float: right;
}

.green {
  color: green;
}

.red {
  color: red;
}

.comments {
  border: 1px solid black;
  padding: 0px 2px 2px 5px;
  margin: 3px 3px 3px 3px;
}
